version: '3.8'
services:
  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--web.enable-remote-write-receiver'
      - '--web.cors.origin=.*'

  gitlab-exporter:
    image: mvisonneau/gitlab-ci-pipelines-exporter:latest
    ports:
      - "8080:8080"
    environment:
      - GITLAB_URL=https://gitlab.com
      - GITLAB_TOKEN=your_actual_token_here
      - GITLAB_PROJECTS=telelichko/StepikTesting

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
      - gitlab-exporter